/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=AppleSDGothicNeoB00:wght@400&display=swap');
body {
  margin: 0;
  line-height: normal;
}

@import url('https://fonts.googleapis.com/css2?family=AppleSDGothicNeoB00:wght@400&display=swap');
body {
  margin: 0;
  line-height: normal;
}
